@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.aref-ruqaa-ink-regular {
  font-family: "Aref Ruqaa Ink", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa-ink-bold {
  font-family: "Aref Ruqaa Ink", serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  white-space: nowrap; /* Makes the content in the container not wrap, so it scrolls horizontally */
  overflow-x: scroll; /* Enables horizontal scroll */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
}

.container::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers (Chrome, Safari) */
}
